@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@keyframes fromBottom {
  from{
    bottom: 0px;
  }
  to{
    bottom: 14px;
  }
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #808080;   
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  list-style-type: none;
}
.container {
  background: linear-gradient(180deg, rgb(241, 196, 242), rgb(185, 242, 244), rgb(238, 246, 191));
  border-radius: 10px;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  padding: 25px; 
}
main {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: rgb(196, 196, 196, 0.3);
  border-radius: 10px;
}
main h2 {
  margin-bottom: 0;
}

header {    
  text-align: center;
  display: flex;
  flex-direction: column;
}

figure {
  margin: 0 auto;
}
.avatar {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    display: block;
    margin: 20px auto;
}
h1 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}

h2, h3, h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 600;
}
h2:hover {
    color: #FFFFFF;
}
  
h4 {
    margin-top: 5px;
    margin-bottom: 5px;    
    font-weight: 200;
}
p{
    text-align: justify;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
ul li {
    margin: 5px;
    text-align: justify;
}
.contact {
    width: 100%;
    padding-left: 0;
}
.contact li {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 38px;
    margin-left: 0;
    border-radius: 5px;
    background: rgb(196, 196, 196, 0.35);
}
  
.contact svg {
    margin-right: 5px;
}
ul.soc li {
    display: inline;
    padding: 3px;
}
svg {
    fill:#808080;
}
  
.skills,
.language,
.hobbies {  
    width: 100%;
    background: rgb(196, 196, 196, 0.35);
    border-radius: 10px;
    margin-bottom: 25px;
}
.skills h2,
.language h2,
.hobbies h2 {
    margin-left: 13px;
}
.hobbies {
    margin-bottom: 0;
}
.skills p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
}
.skills-item {
    display: flex;
}

